In [2]:
import pandas as pd

In [3]:
tables = pd.read_html("https://en.wikipedia.org/wiki/Premier_League")

In [4]:
len(tables)

29

In [5]:
tables[3]

,Season,ARS,CHE,LIV,MCI,MUN,TOT
0,2009–10,3,1,7,5,2,4
1,2010–11,4,2,6,3,1,5
2,2011–12,3,6,8,1,2,4
3,2012–13,4,3,7,2,1,5
4,2013–14,4,3,2,1,7,6
5,2014–15,3,1,6,2,4,5
6,2015–16,2,10,8,4,5,3
7,2016–17,5,1,4,3,6,2
8,2017–18,6,5,4,1,2,3
9,2018–19,5,3,2,1,6,4
10,Top four,7,7,4,9,6,6
11,Top six,10,9,6,10,9,10
12,out of 10,out of 10,out of 10,out of 10,out of 10,out of 10,out of 10
13,League champions Champions League group stage...,League champions Champions League group stage...,League champions Champions League group stage...,League champions Champions League group stage...,League champions Champions League group stage...,League champions Champions League group stage...,League champions Champions League group stage...

In [6]:
tables

[                                  0  \
 0                               NaN
 1                           Founded
 2                           Country
 3                     Confederation
 4                   Number of teams
 5                  Level on pyramid
 6                     Relegation to
 7                   Domestic cup(s)
 8                     League cup(s)
 9              International cup(s)
 10                Current champions
 11               Most championships
 12                 Most appearances
 13                   Top goalscorer
 14                      TV partners
 15                          Website
 16  Current: 2024–25 Premier League

                                                     1
 0                                                 NaN
 1                      20 February 1992; 32 years ago
 2                                        England[z 1]
 3                                                UEFA
 4                             20 (since 1995–96)[z 2]
 5                                                   1
 6                                    EFL Championship
 7                          FA Cup FA Community Shield
 8                                             EFL Cup
 9   UEFA Champions League UEFA Europa League UEFA ...
 10              Manchester City (8th title) (2023–24)
 11                      Manchester United (13 titles)
 12                                 Gareth Barry (653)
 13                                 Alan Shearer (260)
 14  Sky Sports TNT Sports / Discovery+ Amazon Prim...
 15                                  premierleague.com
 16                    Current: 2024–25 Premier League  ,
                            Season                       Champions  \
 0                         1992–93               Manchester United
 1                         1993–94               Manchester United
 2                         1994–95                Blackburn Rovers
 3                         1995–96               Manchester United
 4                         1996–97               Manchester United
 5                         1997–98                         Arsenal
 6                         1998–99               Manchester United
 7  Double winners  Treble winners  Double winners  Treble winners

                        Runners-up
 0                     Aston Villa
 1                Blackburn Rovers
 2               Manchester United
 3                Newcastle United
 4                Newcastle United
 5               Manchester United
 6                         Arsenal
 7  Double winners  Treble winners  ,
                                                Season  \
 0                                           1999–2000
 1                                             2000–01
 2                                             2001–02
 3                                             2002–03
 4                                             2003–04
 5                                             2004–05
 6                                             2005–06
 7                                             2006–07
 8                                             2007–08
 9                                             2008–09
 10                                           Top four
 11                                          out of 10
 12  League champions  Champions League group stage...

                                                   ARS  \
 0                                                   2
 1                                                   2
 2                                                   1
 3                                                   2
 4                                                   1
 5                                                   2
 6                                                   4
 7                                                   4
 8                                                   3
 9                                                   4
 10                                                 10
 11                                          out of 10
 12  League champions  Champions League group stage...

                                                   CHE  \
 0                                                   5
 1                                                   6
 2                                                   6
 3                                                   4
 4                                                   2
 5                                                   1
 6                                                   1
 7                                                   2
 8                                                   2
 9                                                   3
 10                                                  7
 11                                          out of 10
 12  League champions  Champions League group stage...

                                                   LIV  \
 0                                                   4
 1                                                   3
 2                                                   2
 3                                                   5
 4                                                   4
 5                                                   5
 6                                                   3
 7                                                   3
 8                                                   4
 9                                                   2
 10                                                  8
 11                                          out of 10
 12  League champions  Champions League group stage...

                                                   MUN
 0                                                   1
 1                                                   1
 2                                                   3
 3                                                   1
 4                                                   3
 5                                                   3
 6                                                   2
 7                                                   1
 8                                                   1
 9                                                   1
 10                                                 10
 11                                          out of 10
 12  League champions  Champions League group stage...  ,
                                                Season  \
 0                                             2009–10
 1                                             2010–11
 2                                             2011–12
 3                                             2012–13
 4                                             2013–14
 5                                             2014–15
 6                                             2015–16
 7                                             2016–17
 8                                             2017–18
 9                                             2018–19
 10                                           Top four
 11                                            Top six
 12                                          out of 10
 13  League champions  Champions League group stage...

                                                   ARS  \
 0                                                   3
 1                                                   4
 2                                                   3
 3                                                   4
 4                                                   4
 5                                                   3
 6                                                   2
 7                                                   5
 8                                                   6
 9                                                   5
 10                                                  7
 11                                                 10
 12                                          out of 10
 13  League champions  Champions League group stage...

                                                   CHE  \
 0                                                   1
 1                                                   2
 2                                                   6
 3                                                   3
 4                                                   3
 5                                                   1
 6                                                  10
 7                                                   1
 8                                                   5
 9                                                   3
 10                                                  7
 11                                                  9
 12                                          out of 10
 13  League champions  Champions League group stage...

                                                   LIV  \
 0                                                   7
 1                                                   6
 2                                                   8
 3                                                   7
 4                                                   2
 5                                                   6
 6                                                   8
 7                                                   4
 8                                                   4
 9                                                   2
 10                                                  4
 11                                                  6
 12                                          out of 10
 13  League champions  Champions League group stage...

                                                   MCI  \
 0                                                   5
 1                                                   3
 2                                                   1
 3                                                   2
 4                                                   1
 5                                                   2
 6                                                   4
 7                                                   3
 8                                                   1
 9                                                   1
 10                                                  9
 11                                                 10
 12                                          out of 10
 13  League champions  Champions League group stage...

                                                   MUN  \
 0                                                   2
 1                                                   1
 2                                                   2
 3                                                   1
 4                                                   7
 5                                                   4
 6                                                   5
 7                                                   6
 8                                                   2
 9                                                   6
 10                                                  6
 11                                                  9
 12                                          out of 10
 13  League champions  Champions League group stage...

                                                   TOT
 0                                                   4
 1                                                   5
 2                                                   4
 3                                                   5
 4                                                   6
 5                                                   5
 6                                                   3
 7                                                   2
 8                                                   3
 9                                                   4
 10                                                  6
 11                                                 10
 12                                          out of 10
 13  League champions  Champions League group stage...  ,
                  Club  Top 6 finishes
 0     Manchester City              10
 1   Tottenham Hotspur              10
 2             Arsenal              10
 3             Chelsea               9
 4   Manchester United               9
 5           Liverpool               6
 6             Everton               2
 7      Leicester City               1
 8    Newcastle United               1
 9         Southampton               1
 10        Aston Villa               1,
                                               Season  \
 0                                            2019–20
 1                                            2020–21
 2                                            2021–22
 3                                            2022–23
 4                                            2023–24
 5                                           Top four
 6                                            Top six
 7                                           out of 5
 8  League champions  Champions League group stage...

                                                  ARS  \
 0                                                  8
 1                                                  8
 2                                                  5
 3                                                  2
 4                                                  2
 5                                                  2
 6                                                  3
 7                                           out of 5
 8  League champions  Champions League group stage...

                                                  CHE  \
 0                                                  4
 1                                                  4
 2                                                  3
 3                                                 12
 4                                                  6
 5                                                  3
 6                                                  4
 7                                           out of 5
 8  League champions  Champions League group stage...

                                                  LIV  \
 0                                                  1
 1                                                  3
 2                                                  2
 3                                                  5
 4                                                  3
 5                                                  4
 6                                                  5
 7                                           out of 5
 8  League champions  Champions League group stage...

                                                  MCI  \
 0                                                  2
 1                                                  1
 2                                                  1
 3                                                  1
 4                                                  1
 5                                                  5
 6                                                  5
 7                                           out of 5
 8  League champions  Champions League group stage...

                                                  MUN  \
 0                                                  3
 1                                                  2
 2                                                  6
 3                                                  3
 4                                                  8
 5                                                  3
 6                                                  4
 7                                           out of 5
 8  League champions  Champions League group stage...

                                                  TOT
 0                                                  6
 1                                                  7
 2                                                  4
 3                                                  8
 4                                                  5
 5                                                  1
 6                                                  3
 7                                           out of 5
 8  League champions  Champions League group stage...  ,
                       Club  Top 6 finishes
 0                Liverpool               5
 1          Manchester City               5
 2        Manchester United               4
 3                  Chelsea               4
 4                  Arsenal               3
 5        Tottenham Hotspur               3
 6           Leicester City               2
 7              Aston Villa               1
 8   Brighton & Hove Albion               1
 9         Newcastle United               1
 10         West Ham United               1,
             Office  No.               Name     Tenure
 0  Chief Executive    1         Rick Parry  1991–1997
 1  Chief Executive    2  Richard Scudamore  1999–2018
 2  Chief Executive    3    Richard Masters      2019–
 3            Chair    1   Sir John Quinton  1991–1999
 4            Chair    2      Dave Richards  1999–2013
 5            Chair    3        Anthony Fry  2013–2014
 6            Chair    4  Richard Scudamore  2014–2018
 7            Chair    5       Gary Hoffman  2020–2022
 8            Chair    6    Alison Brittain      2023–,
                 Club  Winners  Runners-up  \
 0  Manchester United       13           7
 1    Manchester City        8           3
 2            Chelsea        5           4
 3            Arsenal        3           8
 4          Liverpool        1           5
 5   Blackburn Rovers        1           1
 6     Leicester City        1           0

                                      Winning seasons
 0  1992–93, 1993–94, 1995–96, 1996–97, 1998–99, 1...
 1  2011–12, 2013–14, 2017–18, 2018–19, 2020–21, 2...
 2        2004–05, 2005–06, 2009–10, 2014–15, 2016–17
 3                          1997–98, 2001–02, 2003–04
 4                                            2019–20
 5                                            1994–95
 6                                            2015–16  ,
                     2024–25 Club    2023–24 Position  \
 0              Arsenal[v 1][v 2]                 2nd
 1          Aston Villa[v 1][v 4]                 4th
 2                    Bournemouth                12th
 3                 Brentford[v 2]                16th
 4    Brighton & Hove Albion[v 2]                11th
 5              Chelsea[v 1][v 2]                 6th
 6            Crystal Palace[v 1]                10th
 7         Everton[v 1][v 2][v 4]                15th
 8                         Fulham                13th
 9              Ipswich Town[v 1]           2nd (EFL)
 10                Leicester City           1st (EFL)
 11           Liverpool[v 1][v 2]                 3rd
 12          Manchester City[v 1]                 1st
 13   Manchester United[v 1][v 2]                 8th
 14              Newcastle United                 7th
 15        Nottingham Forest[v 1]                17th
 16              Southampton[v 1]  4th playoffs (EFL)
 17   Tottenham Hotspur[v 1][v 2]                 5th
 18               West Ham United                 9th
 19  Wolverhampton Wanderers[v 4]                14th

    First season in top division First season in Premier League  \
 0                       1904–05                        1992–93
 1                       1888–89                        1992–93
 2                       2015–16                        2015–16
 3                       1935–36                        2021–22
 4                       1979–80                        2017–18
 5                       1907–08                        1992–93

In [8]:
football_data = pd.read_csv("https://www.football-data.co.uk/mmz4281/2324/E0.csv")
football_data.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88

In [9]:
football_data.isnull().sum()

Div         0
Date        0
Time        0
HomeTeam    0
AwayTeam    0
           ..
PCAHA       0
MaxCAHH     1
MaxCAHA     1
AvgCAHH     0
AvgCAHA     0
Length: 106, dtype: int64

In [10]:
football_data.rename(columns={"FTHG" : "home_goals", "FTAG" : "away_goals"}, inplace=True)

In [11]:
football_data.head()

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88